<div class="container">

<img id='ad'  src="https://lovelace-media.imgix.net/uploads/1442/ebf7e680-e578-0134-19bf-060e3e89e053.jpg?w=970&h=353fit=clip&auto=format&q=70">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle glyphicon glyphicon-menu-hamburger" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/">Homepage</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Entertainment</a></li>
            <li><a href="#">Beauty</a></li>
            <li><a href="#">Fashion</a></li>
            <li><a href="#">Lifestyle</a></li>
            <li><a href="#">Books</a></li>
            <li><a href="#">Flowcharts</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!-- <ul class="nav navbar-nav"> -->
      <div class="navbar-body">
        <a class="navbar-brand" href="/">Bustle</a>
      </div>
      <!-- </ul> -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>




{{outlet}}

</div>
